<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="IronXL.LicenseKey" value="IRONXL.VIKRAMBUDDHI.30656-83676980F5-LUK42IZUQBZH3AVX-XXCOPJAHWMN5-47OUNABWD3OL-SDTZ3G4JQPK7-T7QTUTJRGSGT-XNJGOO-TVFMKFA7AXGHEA-DEPLOYMENT.TRIAL-MLIE74.TRIAL.EXPIRES.10.SEP.2022"/>
	</appSettings>
</configuration>